@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@500;600&display=swap"); */

@layer base {
  html,
  body,
  :root {
    height: 100%;
  }
  body {
    @apply bg-background text-ink;
  }
}

html {
  scroll-behavior: smooth;
}
